.user-friend-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    
     
}


.friend-images{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    
}

.friend-name{
    margin-top: 5px;
    font-size: 14px;
    
    
}
